.header{
  font-family: 'Roboto Slab', serif;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .header{
    margin-bottom: 25px;
  }
}

.left {
  font-size: small;
}

.date {
  color: #666;
}